@import "tailwindcss";

@theme {
    --font-leptos: -apple-system,BlinkMacSystemFont,Microsoft Yahei,Segoe UI,Helvetica Neue,Helvetica,Tahoma,Arial,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    --animate-living: is_living .6s steps(6) infinite;

    @keyframes is_living {
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: -108px 0;
        }
    } 
}

@layer utilities {
    .bar-y-hidden {
        scrollbar-width: none;
        @apply overflow-x-hidden overflow-y-auto;
    }

    .bar-y-hidden::-webkit-scrollbar {
        display: none;
    }
}