.root {
  position: relative;
  user-select: none;
  background-color: #f4f5f8;
  font-family: -apple-system, BlinkMacSystemFont, Microsoft Yahei, Segoe UI, Helvetica Neue, Helvetica, Tahoma, Arial, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;

  &:has([class^="global_login_pop"]) {
    //overflow-y: hidden;
  }

  main {
    min-width: 980px;
    width: 100%;

    .left_layout {
      display: flex;
      position: relative;
      column-gap: 12px;
      height: calc(100vh - 60px);
    }
  }
}

html,
body {
  min-width: 980px;
  width: 100%;
}